<footer class="wkFooter">
    <div class="fx wkNewsletter">
        <!-- <div class="fx"> -->
        <div class="fx fx-center-h fx-center-v wkNewsletter__left">
            <h3 class="wkNewsletter__heading">
                Subscribe For Partnership
            </h3>
            <form class="wkNewsletter__form"
                  action="/subscribe.php"
                  method="post">
                <fieldset class="wkNewsletter__fieldset">
                    <div class="wkNewsletter__field">
                        <label class="wkNewsletter__label" for="wkNewsletter_email">Email Address</label>
                        <input class="wkNewsletter__email"
                               id="wkNewsletter_email"
                               name="wkNewsletter_email"
                               type="email"
                               value=""
                               placeholder="Your email address..."
                               required="" />
                        <button class="wkNewsletter__submit" type="submit">Send</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="fx fx-center-v wkNewsletter__right">
            <h5 class="wkNewsletter__rightHeading">Follow us</h5>
            <ul class="fx wkFooter__socials">
                <li class="wkFooter__socialItem">
                    <a href="https://www.facebook.com/WeedKarma/" target="_blank" class="block wkFooter__socialLink">
                        <!--<i class="fa fa-facebook wkFooter__socialIcon" aria-hidden="true"></i>-->
                        <img width="100%" src="~/img/social/facebook.png" alt="">
                    </a>
                </li>
                <li class="wkFooter__socialItem">
                    <a href="javascript:void(0)" target="_blank" class="block wkFooter__socialLink">
                        <img width="100%" src="~/img/social/youtube.png" alt="">
                        <!--<i class="fa fa-youtube wkFooter__socialIcon" aria-hidden="true"></i>-->
                    </a>
                </li>
                <li class="wkFooter__socialItem">
                    <a href="https://www.instagram.com/weedkarmausa/?fbclid=IwAR2e3eXph1ruA3rrPgWDJH6kchmdVlijs6DmjZRUQQYrg6yurtGyBMPnnyI" target="_blank" class="block wkFooter__socialLink">
                        <img width="100%" src="~/img/social/instagram.png" alt="">
                        <!--<i class="fa fa-instagram wkFooter__socialIcon" aria-hidden="true"></i>-->
                    </a>
                </li>
                <li class="wkFooter__socialItem">
                    <a href="https://twitter.com/weed_karma?fbclid=IwAR2pqKEjbTvAMbKqRe6risXqtI9OJg6BK6Ut3YdBfOL0xygRxLy011X6924" target="_blank" class="block wkFooter__socialLink">
                        <img width="100%" src="~/img/social/twiter.png" alt="">
                        <!--<i class="fa fa-instagram wkFooter__socialIcon" aria-hidden="true"></i>-->
                    </a>
                </li>
            </ul>
        </div>
        <!-- </div> -->
    </div>

    <div class="wkFooter__menus">
        <!-- Footer Layer -->
        <div class="footerLayer">
            <div class="footerLayer__lightnings">
                <div class="footerLayer__colorBox footerLayer__color1">
                    <div class="footerLayer__colorBox footerLayer__color2">
                        <div class="footerLayer__colorBox footerLayer__color3">
                            <div class="footerLayer__colorBox footerLayer__color4">
                                <div class="footerLayer__colorBox footerLayer__color5">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Layer end -->
        <div class="container--medium fx fx-between fx-center-v wkFooter__container">
            <section class="fx fx-between wkFooter__columns">
                <article class="wkFooter__col wkFooter__col1">
                    <h5 class="wkFooter__colTitle">
                        <a href="javascript:void(0)">Company</a>
                    </h5>
                    <ul class="wkFooter__itemList">
                        <li class="wkFooter__item">
                            <a class="wkFooter__itemLink" href="@Url.Action("Index","AboutUs")">About Us</a>
                        </li>
                        <li class="wkFooter__item">
                            <a class="wkFooter__itemLink" href="@Url.Action("Index","Carers")">Careers</a>
                        </li>
                        <li class="wkFooter__item">
                            <a class="wkFooter__itemLink" href="@Url.Action("Index","ContactUs")">Contact Us</a>
                        </li>

                        <li class="wkFooter__item">
                            <a class="wkFooter__itemLink" href="@Url.Action("Index","Sitemap")">Sitemap</a>
                        </li>
                    </ul>
                </article>
                @*<article class="wkFooter__col wkFooter__col1">
                    <h5 class="wkFooter__colTitle">
                        <a href="javascript:void(0)">Discover</a>
                    </h5>
                    <ul class="wkFooter__itemList">
                        <li class="wkFooter__item">
                            <a class="wkFooter__itemLink" href="javascript:void(0)">WikiLine</a>
                        </li>
                        <li class="wkFooter__item">
                            <a class="wkFooter__itemLink" href="javascript:void(0)">Blog TV</a>
                        </li>
                  
                    </ul>
                </article>*@
                <article class="wkFooter__col wkFooter__col1">
                    <h5 class="wkFooter__colTitle">
                        <a href="javascript:void(0)">WK For Business</a>
                    </h5>
                    <ul class="wkFooter__itemList">

                        <li class="wkFooter__item">
                            <a href="/Account/RegisterStore" class="wkFooter__itemLink">Add a Dispanser</a>
                        </li> 
                        <li class="wkFooter__item">
                            <a href="/Account/RegisterBrand" class="wkFooter__itemLink">Add a Brand</a>
                        </li>

                    </ul>
                </article>
                <article class="wkFooter__col wkFooter__col1">
                    <h5 class="wkFooter__colTitle">
                        <a href="javascript:void(0)">Legal</a>
                    </h5>
                    <ul class="wkFooter__itemList">
                        <li class="wkFooter__item">
                            <a class="wkFooter__itemLink" href="/TermsOfUse">Terms Of Use</a>
                        </li>
                        <li class="wkFooter__item">
                            <a class="wkFooter__itemLink" href="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </article>
            </section>
            <section class="wkFooter__details">
                <a href="index.html" class="block wkFooter__logo">
                    <!-- <img src="~/img/logo.png" alt="" class="block wkFooter__logoImg" /> -->
                    <img src="~/img/logo_white.svg" alt="Logo" class="block logo__item">
                    <span class="block text-center logo__textPart">
                        <span class="logo__bottomText logo__bottomText--bold logo__bottomText--footer">Weed</span>
                        <span class="logo__bottomText logo__bottomText--footer">Karma</span>
                    </span>
                </a>
                <p class="wkFooter__slogan">
                    Elevate yourself
                    It's a lifestyle
                </p>
            </section>
        </div>
        <hr />
        <div class="container--medium">
            <p class="wkCopyright">
                © @DateTime.Now.Year Weed Karma LLC .
                <a href="/Privacy/Index/" title="Skin Actives Scientific Website Privacy Policy">Privacy Policy</a>
                |
                <a href="/terms-of-service/" title="Skin Actives Scientific Terms of Service">Terms of Service</a>
            </p>
        </div>
    </div>
</footer>